* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.contactarea {
    width: 100%;
    height: 40px;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.contactarea ul li {
    list-style: none;
    display: inline-block;
    padding: 7px 10px;
    margin: 60px;

}

.contactarea ul li a {
    color: rgb(254, 240, 240);
}

.contactarea ul li a:hover {
    color: rgb(198, 22, 22);
}

.contactarea ul li:hover {
    background-color: rgb(255, 200, 0);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.contactarea ul #book {
    background-color: rgba(255, 200, 0, 0.914);
    border-radius: 10px;

}

.contactarea ul #book a {
    color: rgb(198, 22, 22);
}

.contactarea ul #book:hover {
    background-color: #000000;
    border-bottom: 2px solid #fff;
    padding-left: 20px;

}

.contactarea ul #book a:hover {
    color: white;
}


#logotitlearea {
    width: 100%;
    height: 70px;
    background-color: rgba(72, 10, 10, 0.915);
    /* background-color: hsla(0, 81%, 17%, 0.915); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#logotitlearea h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 5px 10px rgba(72, 10, 10, 0.915);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logotitlearea h1 i {
    color: black;
}

#menuarea {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(218, 221, 224, 0.915); */
    background-color: rgba(240, 255, 255, 0.914);
    box-shadow: 0px 5px 10px 0px rgba(72, 10, 10, 0.915);
}

#menuarea ul li {
    list-style: none;
    display: inline;
    padding: 7px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#menuarea ul li a {
    color: black;
}

.menuarealist {
    font-size: 20px;
}

#menuarea .menuarealist li:hover {
    background-color: rgba(240, 255, 255, 0.914);
    box-shadow: 0px 5px 10px 0px rgba(72, 10, 10, 0.915);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

}

#menuarea .menuarealist li a:hover {
    color: red;
}

/*.navbar-menu{
    position: absolute;
    display: none;
    z-index: 10;
} */

 .navbar{
    position: relative;
}

.navbar-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  display: none;
  min-width: 160px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10;
}

.navbar-menu li a {
  color: black;
  display: block;
  /* padding: 5px 30x; */
}

.navbar-menu li a:hover {
  background-color: #eee;
}

.navbar:hover .navbar-menu {
  display: block;
}

#slidearea {
    width: 100%;
    height: 500px;
    background-color: rgba(133, 200, 200, 0.915);

}

#col {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 0 5px 10px rgba(72, 10, 10, 0.915);

}

#contentarea {
    width: 100%;
    height: 800px;
    background-image: url("photos/camera1.jpg");
    /* background-image: linear-gradient(30deg, red,green); */
    background-size: cover;
    background-attachment: fixed;
    /* border: 1px solid black; */
    text-align: center;
    overflow: scroll;
}

.box {
    align-items: center;
    width: 320px;
    height: 300px;
    background-color: rgba(241, 255, 255, 0.900);
    float: left;
    margin: 25px;
    border: solid 10px rgba(240, 255, 255, 0.914);
    padding-left: 25px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0px rgba(72, 10, 10, 0.915);
}

.box img {
    width: 100%;
    height: 80%;
    border-radius: 10px;

}

.box h2 {
    color: rgba(72, 10, 10, 0.915);
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 0px 3px 5px rgba(123, 154, 154, 0.914);
}

#topfooterarea {
    width: 100%;
    height: 300px;
    background-color: rgba(240, 255, 255, 0.915);
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px rgba(72, 10, 10, 0.915);
}

.topfoot {
    width: 20%;
    height: 200px;
    /* border: 1px solid rgba(72, 10, 10, 0.915); */
    display: inline-block;
    margin: 10px;
    padding: 25px;

}

.topfoot P {
    color: #800000;
    text-align: justify;
    font-size: 15;
    font-weight: bold;
    font: normal 300 18px arial;
}

.footer-heading {
    color: rgba(72, 10, 10, 0.915);
    padding-bottom: 10px;
    text-shadow: 0px 3px 5px rgba(123, 154, 154, 0.914);
}

.topfoot ul li {
    list-style-type: none;
    padding-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    font: normal 300 18px arial;
}

.topfoot ul li a {
    color: #800000;
}

.topfoot ul li a:hover {
    color: black;
}

.topfoot #footer-address {
    text-align: justify;
}

.topfoot #footer-menu li:hover {
    padding-left: 20px;
    transition: all 0.8s;
    font-size: 1.1rem;
}

#footerarea {
    width: 100%;
    height: 60px;
    background-color: #000000;
    text-align: center;
    color: white;
    padding-top: 17px;

}